# Node.js
node_modules/

# Логи
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# dotenv
.env
.env.*

# VSCode
.vscode/

# Mac
.DS_Store

# Windows
Thumbs.db

# uploads (загруженные изображения)
uploads/

# build artifacts
/dist/
/build/

# Системные файлы
*.swp
*.swo

# coverage
coverage/

# Бэкапы
*.bak
*.tmp 